@charset "uft-08";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid black;
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;
}

img {
    display: block;
}

/* ------------- COMMUNS FLEXBOX AND GRID -------------- */

.flex-row_direction-space_between {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
 }

.flex-column-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-content: center;
 }

.grid-template-rows {
    display: grid;
    grid-template-columns: 20% auto;
 }

.flex-template-rows-space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }

.flex-template-rows-end {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/* ------------ HEADER ------------ */

header {
    height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

header li {
    padding: 0px 20px;
}

/* ----------------------- MAIN ------------------------- */

main {
    max-width: 800px;
    margin: 0px auto;
}

/* ----------- FIRST SECTION (IT´S A DIV) ------------- */

.first-section {
    margin-top: 6rem;
    margin-bottom: 3rem;
    gap: 1.5rem;
}

.first-section form {
    gap: 1.5rem;
}

main .h1-title {
    text-align: center;
}

input {
    width: 15rem;
    height: 1.8rem;
    margin: 0 auto;
}

form .submit-btn {
    width: 100px;
    margin: 0 auto;
}

/* ----------- SECOND SECTION ------------- */

main .second-section {
    gap: 1.5rem
}

section .div-img {
    height: 100px;
 }

/* ----------- THIRD SECTION ------------- */

main .third-section {
    padding: 3rem;
} 

section > iframe {
    margin: 0px auto;
    display: block;
 }

/* ----------- FOURTH SECTION ------------- */

.div-sell {
    width: 30%;
    text-align: center;
}

.div-sell h3 {
    padding: 1rem;
}

.div-sell h3 {
    padding: 1rem;
}


/* aparentemente finalizado o posisionamento da primeira div-section. Falta espaçar os elementos dentro dela depois espaçar os restantes dos containers pra baixo /*
 