@charset "uft-08";

/* ----------------------- GLOBAL ELEMENTS STYLING ------------------------- */

:root {
    --color-01: black;
    --color-02: #14213d;
    --color-03: #fca311;
    --color-04: #e5e5e5;
    --color-05: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;
}

img {
    display: block;
}

/* ----------------------- GLOBAL CLASSES STYLING ------------------------- */

.flex-row_direction-space_between {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
 }

.flex-column-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-content: center;
 }

.grid-template-rows {
    display: grid;
    grid-template-columns: 20% auto;
 }

.flex-template-rows-space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }

.flex-template-rows-end {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/* ----------------------- HEADER ------------------------- */

header {
    height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-04);
}

header li {
    padding: .5rem;
}

/* ----------------------- MAIN ------------------------- */

main {
    max-width: 1000px;
    margin: 0px auto;
}

/* ----------- FIRST SECTION (IT´S A DIV) ------------- */

.first-section {
    margin-top: 9rem;
    margin-bottom: 6rem;
    gap: 1.5rem;
}

.first-section form {
    gap: 1.5rem;
}

main .h1-title {
    text-align: center;
}

.first-section input {
    width: 14rem;
    height: 1.8rem;
    margin: 0 auto;
}

.first-section  form .submit-btn {
    width: 8rem;
    background-color: var(--color-03);
    color: var(--color-01);
    font-size: 1.2rem;
    font-weight:bolder
}

/* ----------- SECOND SECTION ------------- */

main .second-section {
    gap: 1.5rem;
}

.second-section  .div-img {
    height: 100px;
 }

/* ----------- THIRD SECTION ------------- */

main .third-section {
    padding: 6rem 3rem;
} 

.third-section  > iframe {
    margin: 0px auto;
    display: block;
    max-width: 100%;
 }

/* ----------- FOURTH SECTION ------------- */

.fourth-section {
    margin-bottom: 6rem;
} 

.fourth-section .div-sell {
    width: 30%;
    text-align: center;
}

.fourth-section .div-sell h3 {
    padding: 1rem;
}

.fourth-section .div-sell h2 {
    padding: 1rem;
}

.fourth-section .div-sell li {
    padding: 0.2rem;
}

.fourth-section button {
    padding: 0.5rem;
    margin: 2rem 0rem 1rem 0rem;
}

/* ----------------------- FOOTER ------------------------- */

footer {
    background-color: var(--color-04);
}

footer li {
    padding: 1rem;
}

footer span {
    padding: 0rem 0.5rem 1rem 1rem;
}

/* ----------------------- RESPONSIVE ------------------------- */

/* ------------ HEADER ------------ */

@media (max-width: 600px) {

    header {
        height: auto;
    }

    header .responsive-flex-column-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* ------------ MAIN ------------ */

@media (max-width: 600px) {

    main {
        max-width: 1000px;
        margin: 3rem auto 0rem auto;
    }
}

/* ------ SECOND SECTION ------ */

@media (max-width: 600px) {
    .div-img {
        display: none;
    }

    .second-section .responsive-flex-column-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
}

/* ------ THIRD SECTION ------ */

@media (max-width: 600px) {
    main .third-section {
        padding: 3rem 0rem;
    }
    
}
 
/* ------ FOURTH SECTION ------ */

@media (max-width: 600px) {
    main .fourth-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .fourth-section .div-sell {
        width: 300px;
    }
}

/* ------------ FOOTER ------------ */

@media (max-width: 600px) {

    footer .responsive-flex-column-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer li {
        padding: 0.5rem;
    }

    footer .flex-template-rows-center {
        justify-content: center;
    }
}