@charset "uft-08";

/* ----------------------- GLOBAL ELEMENTS STYLING ------------------------- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid black;
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;
}

img {
    display: block;
}

/* ----------------------- GLOBAL CLASSES STYLING ------------------------- */

.flex-row_direction-space_between {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
 }

.flex-column-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-content: center;
 }

.grid-template-rows {
    display: grid;
    grid-template-columns: 20% auto;
 }

.flex-template-rows-space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }

.flex-template-rows-end {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/* ----------------------- HEADER ------------------------- */

header {
    height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

header li {
    padding: .5rem;
}

/* ------ RESPONSIVE ------ */

@media (max-width: 600px) {

    header {
        height: auto;
    }

    header .responsive-flex-column-center {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
}

/* ----------------------- MAIN ------------------------- */

main {
    max-width: 1000px;
    margin: 0px auto;
}

/* ------ RESPONSIVE ------ */

@media (max-width: 600px) {

    main {
        max-width: 1000px;
        margin: 3rem auto 0rem auto;
    }
}

/* ----------- FIRST SECTION (IT´S A DIV) ------------- */

.first-section {
    margin-top: 6rem;
    margin-bottom: 3rem;
    gap: 1.5rem;
}

.first-section form {
    gap: 1.5rem;
}

main .h1-title {
    text-align: center;
}

.first-section input {
    width: 15rem;
    height: 1.8rem;
    margin: 0 auto;
}

.first-section  form .submit-btn {
    width: 100px;
    margin: 0 auto;
}

/* ----------- SECOND SECTION ------------- */

main .second-section {
    gap: 1.5rem;
}

.second-section  .div-img {
    height: 100px;
 }

 /* ------ RESPONSIVE ------ */

@media (max-width: 600px) {
    .div-img {
        display: none;
    }

    .second-section .responsive-flex-column-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
}

/* ----------- THIRD SECTION ------------- */

main .third-section {
    padding: 3rem;
} 

.third-section  > iframe {
    margin: 0px auto;
    display: block;
    max-width: 100%;
 }

  /* ------ RESPONSIVE ------ */

@media (max-width: 600px) {
    main .third-section {
        padding: 3rem 0rem;
    }
    
}

/* ----------- FOURTH SECTION ------------- */

.fourth-section {
    margin-bottom: 3rem;
} 

.fourth-section .div-sell {
    width: 30%;
    text-align: center;
}

.fourth-section .div-sell h3 {
    padding: 1rem;
}

.fourth-section .div-sell h2 {
    padding: 1rem;
}

.fourth-section .div-sell li {
    padding: 0.2rem;
}

.fourth-section button {
    padding: 0.5rem;
    margin: 2rem 0rem 1rem 0rem;
}

/* ----------------------- FOOTER ------------------------- */

footer li {
    padding: 1rem;
}

footer span {
    padding: 0rem 0.5rem 1rem 1rem;
}


/* aparentemente finalizado o posisionamento da primeira div-section. Falta espaçar os elementos dentro dela depois espaçar os restantes dos containers pra baixo /*
 