@charset "uft-08";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid black;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    gap: 10px;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    width: 200px;
    margin: 0 auto;
}